<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container mx-auto text-center">
    <div class="row">
        <div class="col">
            <h1 class="mx-auto" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-info" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Список чатов</h3>
                <div th:each="chat : ${chats}" class="btn-group-vertical" role="group"
                     aria-label="Vertical button group">
                    <a th:href="@{/chat/{name}(name=${chat.name})}"  type="button" class="btn btn-secondary" th:utext="${chat.name}"></a>
                </div>
            </div>
            <div class="col">
                <h3>Добавить чат</h3>
                <form action="/"  th:action="@{/add/chat}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlInput1"> Название чата </label>
                            <input class="form-control" id="exampleFormControlInput1" type="text" name="name"
                                   placeholder="Название чата" autofocus required/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Пользователь</label>
                            <select  id="inputState"   name="user"  class="form-control">
                                <option th:each="user : ${users}" th:attr="value=${user.userId}" th:utext="${user.name}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>