<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <div class="row">
        <div class="col align-center offset-4">
            <form th:action="@{/login}" method="post">

                <div class="form-group">
                    <label for="exampleFormControlInput1"> User Name </label>
                    <input class="form-control" id="exampleFormControlInput1" type="text" name="username"
                           placeholder="user name"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" type="password" name="password"
                           placeholder="Password"/>
                </div>
                <div class="text-center"><input class="btn btn-primary" type="submit" value="Войти"/></div>
            </form>
            <div class="text-center mt-1">
                <a th:href="@{/reg}" class="btn btn-primary">Регистрация</a>
            </div>
        </div>
        <div class="col align-center offset-3">
        </div>
    </div>
</div>
</body>
</html>