<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js" th:src="@{/js/main.js}"></script>
    <script>$(document).ready(function() {
            connect()
            });
    </script>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 id="username" class="mx-auto" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-info" type="submit" value="Sign Out"/>
            </form>
        </div>
        <div class="col">
            <a onclick="disconnect()" href="/" type="button" class="btn btn-secondary">Чаты</a>
        </div>
    </div>
    <input id="chatId" type="hidden" th:attr="value=${party.chat.chat_id}">
    <h4 id="chatname" th:utext="${party.chat.name}"></h4>
</div>

<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div id="userToName" class="title" th:inline="text">[[${party.user.name}]]</div>
    </div>
    <ul class="messages" >
        <li th:each="mess : ${messages}" th:class="@{message {side} appeared (side=${mess.side})}">
            <div class="avatar" th:utext="${mess.user.name}"></div>
            <div class="text_wrapper">
                <div class="text" th:utext="${mess.message}"></div>
            </div>
        </li>
    </ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input id="message_input_value" class="message_input" placeholder="Type your message here..."/>
        </div>
        <div>
            <button class="send_message" onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>
<div id="message_template" class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>
</body>
</html>